.main {
    flex: 1;
    width: 100vw;
    min-height: 100vh;
    border: 1rem solid rgb(5, 20, 48);
    background: rgb(5, 20, 48);
}

.menu-icon {
    display: none;
}

.parent-container {
    display: flex;
    height: 96vh;
    position: relative;
    border: 1rem solid #f2f7f2;
    border-radius: 10px;
    background-color: #f2f7f2;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 60px;
    border-radius: 50%;

}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.greet-parent{
    overflow:scroll;
    display: flex;
    flex-direction: column;
    height: 60vh;
}
.greet-parent::-webkit-scrollbar {
    display: none;
}

.main .greet {
    margin: 30px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet .span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 10px;
}

.main .card {
    height: 130px;
    padding: 15px;
    background-color: #dbe2ef;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 10px;
    bottom: 10px;
    right: 10px;
}

.main .card p {
    color: #585858;
    font-size: 17px;
}

.main .card:hover {
    background-color: #ffffff;
    border: 1px solid #dbd2be;
}

.main-bottom {
    bottom: 0;
    width: 100%;
    padding: 0px 10px;
    margin: auto;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #dbe2ef;
    padding: 10px 20px;
    margin-top: 2rem;
    width: 100%;
    border-radius: 10px;
}

.search-box img {
    width: 20px;
    cursor: pointer;
}

.search-box textarea {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    /* padding: 8px; */
    font-size: 18px;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: auto;
}
.result::-webkit-scrollbar{
    display: none;
}
.result img{
    height: 28px;
}
.result-title {
    margin: 0 0 40px 0px;
    display: flex;
    margin-right: 1rem;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
}

.result-title p {
    position: relative;
    border-radius: 10px;
    border-top-right-radius: 0;
    padding: 10px 20px;
    background-color: #051430;
    color: white;
}

.result-title p::after {
    content: "";
    position: absolute;
    top: -5px;
    /* Centers the bubble vertically */
    right: -12px;
    /* Adjusts the distance from the text box */
    width: 15px;
    /* Adjust size */
    height: 20px;
    /* Triangle height */
    background-color: #051430;
    /* Matches the text box background */
    clip-path: polygon(0% 80%, 100% 20%, 0% 30%);
    transform: rotate(365deg);
}

.result-data {
    display: flex;
    align-items: start;
    gap: 2px;
}

.result-data p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
    /* width: 50vw; */

}

.response-header {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    padding: 1rem;
}

.response-header button {
    display: flex;
    border: none;
    color: grey;
    background-color: transparent;
}


.response-container {
    position: relative;
    /* background-color: #dbe2ef; */
    padding: 0 1rem;
    margin-bottom: 2rem;
    align-items: center;
    gap: 1rem;
    max-width: 60vw;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 10px;
    align-items: flex-start;
    border-top-left-radius: 0;
    display: flex;
}
.response-content {
    position: relative;
    font-size: 1rem;
    line-height: 1.8;
    color: #333;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    background-color: #e2e7f2;
    padding: 0.5rem 2rem;
    max-width: 70vw;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 10px;
    border-top-left-radius: 0;
}

.response-content::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -15px;
    width: 20px;
    height: 40px;
    background-color: #e2e7f2;
    clip-path: polygon(0% 80%, 100% 20%, 0% 30%);
    border-radius: 5px;
    transform: rotate(90deg);
}

.response-content pre {
    background-color: #282A36;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: -1.5rem;
    width: 53vw;
    overflow-x: scroll;
    font-size: 0.5rem !important;
}

  .response-content .copy-button{
    font-size: 1rem;
}

.formatted-response {
    padding: 2rem;
}


.code-block span{
   font-size: 1rem;
}


.chat-container{
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    /* height: 100vh; */
    justify-content: space-between;
}

.ad-container{
   display: flex; 
   background: #E3E5E4;
   border-radius: 10px;
   padding: 1rem;
   /* height: 100%; */
   flex: 1;
   position: relative;
}


/* Media query for screens smaller than 768px */
@media (max-width: 1024px) {

    .main-container div {
        display: flex;
        flex-direction: column;
    }

    .main-container .ad-container{
        display: none;
    }

    span {
        font-size: 2rem;
    }

    .greet p {
        font-size: 2rem;
        margin: 0
    }

    .cards .card {
        margin: 0;
        height: 10vh;
        display: flex;
    }

    .cards .card p {
        margin: 0;
        font-size: 0.8rem;
        flex: 1;
    }

    .cards .card img {
        height: 35%;
        width: auto;
        flex: 3;
    }

    .main-bottom div{
        display: flex;
        flex-direction: row;
    }
   

    .search-box textarea {
        font-size: 1rem;
        padding: 0
    }

    .search-box img {
        height: 20px;
        width: 20px;
        padding: 0
    }

    .search-box svg {
        height: 20px;
        width: 20px;
        padding: 0
    }

    .bottom-info {
        display: none;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        height: 25px;
        width: 20px !important;
    }
    .result {
        display: flex;
        flex-direction: column;
        max-height: 95vh !important;
        max-width:100% !important;
        margin: 0;
        padding: 0;
    }
    .result-title {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }


    .result-data {
        display: flex;
        padding: 0;
        /* align-items: end; */
        gap: 5px;
    }

    .result img{
        display: none;
    }

    .main .cards {
        padding: 0;
    }

.response-container{
    max-width: 100% !important;
    display: flex;
    margin: 0
    
}
    .response-content {
        line-height: 1.8;
        display: flex;
        padding: 0.5rem;
        max-width: 100%!important;
        background-color: transparent;
        text-align:initial;
        overflow: scroll;
    }
    .response-content::after {
        display: none;
    }
    .main-bottom{
        padding: 0;
       justify-content: flex-end; 
       align-items: flex-end;

    }

    .response-header button{
        color: grey;
align-items: flex-end;
display: flex;
width: 100%;
       justify-content: flex-end; 
    }

    .main .nav {
        padding: 0px;
    }

.main-container {
    height: 88%;
    display: flex;
    flex-direction: column;
}
}