.main {
    flex: 1;
    min-height: 100vh;
    border: 1rem solid #2E280F;
    position: relative;
    background: #2E280F;
}

.main .parent-container {
    display: flex;
    height: 100%;
    position: relative;
    border: 1rem solid #f2f7f2;
    border-radius: 10px;
    
    background-color: #f2f7f2;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 60px;
    border-radius: 50%;

}

.main-container {
    /* max-width: 1000px; */
    margin: 1rem;
}

.main .greet {
    margin: 30px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet .span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card {
    height: 150px;
    padding: 15px;
    background-color: #f6f2e2;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 10px;
    bottom: 10px;
    right: 10px;
}

.main .card p {
    color: #585858;
    font-size: 17px;
}

.main .card:hover {
    background-color: #ffffff;
    border: 1px solid #dbd2be;
}

.main-bottom {
    bottom: 0;
    width: 100%;
    padding: 0px 20px;
    margin: auto;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f6f2e2;
    padding: 10px 20px;
    margin-top: 4rem;
    border-radius: 10px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box textarea {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    max-height: 70vh;
    overflow-y: auto
}

.chat-container{
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    justify-content: space-between;
}

.ad-container{
   display: flex; 
   background: #C4C7C5;
   border-radius: 10px;
   padding: 1rem;
   height: 100%;
   flex: 1
}
/* Hides the container on mobile view */
@media (max-width: 768px) {
    .ad-container {
      display: none; 
    }
  }

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.result-title p {
    position: relative;
    /* Enables positioning for the pseudo-element */
    border-radius: 10px;
    border-top-right-radius: 0;
    padding: 10px 20px;
    background-color: #2E280F;
    color: lightgray
}

.result-title p::after {
    content: "";
    position: absolute;
    top: -5px;
    /* Centers the bubble vertically */
    right: -12px;
    /* Adjusts the distance from the text box */
    width: 15px;
    /* Adjust size */
    height: 20px;
    /* Triangle height */
    background-color: #2E280F;
    /* Matches the text box background */
    clip-path: polygon(0% 80%, 100% 20%, 0% 30%);
    transform: rotate(365deg);
}

.result img {
    width: 40px;
    border-radius: 5px;
}


.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 5px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #f6f2e2, #ffffff, #f6f2e2);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px;
    }

    100% {
        background-position: 800px 0px;
    }
}


.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
    
}

.result-data p {
    font-weight: 300;
    line-height: 1.8;
}

.response-header {
    display: flex;
    flex: 1;
    top: 0;
}

.response-header button {
    display: flex;
    border: none;
    color: grey;
    background-color: transparent;
}

.response-container {
    position: relative;
    background-color: #f6f2e2;
    padding: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    gap: 1rem;
    max-width: 60vw;
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 10px;
    align-items: flex-start;
    border-top-left-radius: 0;
    display: flex;

}

.response-container::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -15px;
    width: 20px;
    height: 40px;
    background-color: #f6f2e2;
    clip-path: polygon(0% 80%, 100% 20%, 0% 30%);
    border-radius: 5px;
    transform: rotate(90deg);
}

.response-content {
    font-size: 1rem;
    line-height: 1.8;
    color: #333;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    padding-left: 1rem;
}



.response-content pre {
    background-color: rgb(7, 3, 3);
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 49vw;
    overflow-x: scroll;

}

.formatted-response {
    padding: 2rem;
}