.sidebar{
    min-height: 100vh;
    max-width: 40vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2e280f;
    padding: 25px 15px;
}

.sidebar .img-container{
    display: flex;
    justify-content: center;
    /* width: 100%; */
}

.sidebar .img-container .img{
    display: flex;
    cursor: pointer;
    justify-content: center;
   /* height: 9rem;
   width: 9rem; */
   border-radius: 50%;
}

.sidebar .top .menu-icon{
    color: lightgray;
    font-size: 2rem;
}

.sidebar img{
    width: 20px;
}


.sidebar .new-chat{
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    background-color:lightgray;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    cursor: pointer;
} 
.sidebar .new-chat .icon{
    color: black;
    font-size: 2rem;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
    height: 55vh;
    overflow: scroll;
}
.sidebar .recent::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
  }


.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}

.sidebar .recent-entry{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    color: lightgrey;
    cursor: pointer;
    justify-content: space-between;
}

.sidebar .recent-entry .container{
    display: flex;
   align-items: flex-end;
}

.sidebar .recent-entry .icon{
    color: white;
}

.sidebar .recent-entry p{
    width: 22vh;
    color: lightgrey;
    white-space: nowrap;      
  overflow: hidden;  
  padding-top: 0      
}

.sidebar .recent-entry div{
    display: flex;
    align-items: start;
    gap: 10px;
    color: #282828;
    cursor: pointer;
    justify-content: space-between;
}

.sidebar .recent-entry:hover{
    background-color: #ffffff57;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
   padding-right: 10px;
   cursor: pointer;
}


.delete-button {
    background-color: transparent;
    color: white;
    border: none;
    align-items: bottom;
    display: flex;
    justify-content: bottom;
    /* padding: 5px 10px; */
    cursor: pointer;
    font-size: 14px;
    /* margin-left: 10px; */
    border-radius: 5px;
  }
  


